{% extends 'template.html.twig' %}

{% block body %}
    <div class = "row">
        {% for student in students  %}
        <div class="card" style="width: 18rem;">
         <div class="card-body">
                 <h5 class="card-title">{{ student.firstName }}</h5>
                 <h6 class="card-subtitle mb-2 text-muted">{{ student.lastName }}</h6>
                 <p class="card-text">Semester : {{ student.semester }}.</p>
                 <a href="{{ path('student.get', {id: student.id}) }}" class="card-link">Details</a>
                 {% if is_granted('ROLE_ADMIN') %}
                 <a href="{{ path('student.delete', {id: student.id}) }}" class="card-link">Delete</a>
                 <a href="{{ path('student.edit', {id: student.id}) }}" class="card-link">Edit</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}

{% block PageTitle %}
    List of Students
{% endblock %}

{% block title %}
{% endblock %}